<div *ngIf="tickets">

  <div>

   <p>Amount: {{tourWrap.childElementCount}}</p>
    <p>Active: {{blockDirective.activeElementIndex}}</p>
  </div>

  <div class="mb-4">
    <span class="mx-3">Find tours</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="nameTour"/>
    <button
      (click)="search($event)"  type="button"
      class="m-3 btn btn-success">Find
    </button>



  </div>

  <div appBlocksStyle
       #tourWrap
       #blockDirective='blocksStyle'
       [selector]="'.ticket-item'"
       [initFirst]="false"
       (renderComplete)="directiveRenderComplete($event)"
       class="d-flex flex-wrap justify-content-around">
    <div class="ticket-item col-3 m-2"
         *ngFor="let item of tickets; let i = index"
         (click)="goToTicketInfoPage(item)">
      <div class="ticket-title">{{item.name}} </div>
      <div class="ticket-img">
        <img class="w-100" src="/assets/img/{{item.img}}" alt=""/>
      </div>
    </div>
  </div>

</div>


