<div class="d-flex flex-column">
  <div>
    <span class="mx-3">{{loginText}}</span>
    <input type="text"
           pInputText
           [(ngModel)]="login"
           [ngClass]="{'input-error' : !login}" />
  </div>

  <div>
    <span class="mx-3">{{pswText}}</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="psw"
           [ngClass]="{'input-error' : !psw}" />
  </div>

  <div  class="mt-3">
    <p-checkbox (onChange)="vipStatusSelected()"
                label="Card number"
                name="groupname"
                [(ngModel)]="selectedValue"
                [binary]="true"></p-checkbox>

    <div *ngIf="selectedValue">
      <span class="mx-3">Card number</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="cardNumber"/>
    </div>
  </div>

  <div class="mt-5 d-flex justify-content-end" >
    <button (click)="onAuth($event)"  type="button" class="btn btn-success">{{authTextButton}}</button>
  </div>

</div>

