:host{
  width: 100%;
  height: 60px;
  display: block;
}

.time-block{
  position: absolute;
  right: 0;
  padding: 4px;
}

.user-login-block{
  position: absolute;
  right: 100px;
  top: 7px;
  padding: 4px;
}
